@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');
* {
  font-family: "Nanum Brush Script", cursive;
}
body{
    display:flex;
    flex-direction: column;
    align-items: center;
    
}
#sitetitle{
    background-color: green;
    width: 70vw;
    height: 5vh;
    border: 1px solid black;
    border-radius: 5px;

    text-align: center;
    padding: 5vh;
}

.search{
    display:flex;
    flex-direction: column;
    background-color: blue;
    width: 70vw;
    height: 7vh;
    align-items: center;

    padding-top: 4vh;
    padding-bottom: 0vh;
    padding-left: auto;
    padding-right: auto;
}



.container{
    display:flex;
    background-color: yellow;
    width: 90vw;
    height: auto;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-evenly;
}
.moviecards{
    display:flex;
    flex-direction: column;
    text-align: left;
    max-width: 350px;
    max-height: auto;
    padding: 5px;
    margin: 5px;

    border: 1px solid black;
    border-radius: 5px;
    
    cursor: pointer;
}
.movieimage{
    display:flex;
    align-self: center;
    max-width: 300px;
    max-height: auto;
    
}

.movietitle{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
}

.ID{
    display:none;
}